:root{
    --cor-primaria: #ac7ae6;
    --gradiente-primario: linear-gradient(#e776e7, #d037ff);
}
header{
    background: var(--gradiente-primario);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 120px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav>ul{
    margin: 0px;
    display: flex;
}
nav>ul>li{
    list-style: none;
    padding: 0px;
}
nav>ul>li>a{
    padding: 0px 4px;
}
.header-links>a{
    padding: 0px 4px;
}
.header-container{
    display: flex;
}